---
layout: default
---

<div class="home">
  {%- if page.title -%}
  <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- if site.lezioni.size > 0 -%}
  <div>
    <h2 class="post-list-heading">{{ page.list_title | default: "Lezioni" }}</h2>
    <ul class="post-list">
      {%- for post in site.lezioni -%}
      <li>
        <a class="post-card-link" href="{{ post.url | relative_url }}">

          <h3>

            {{ post.title | escape }}

          </h3>
          {%- if site.show_excerpts -%}
          {{ post.excerpt }}
          {%- endif -%}
        </a>
      </li>
      {%- endfor -%}
    </ul>
  </div>

  {%- endif -%}
  {%- if site.progetti.size > 0 -%}
  <aside>
    <div class="progetti">
      <h2 class="post-list-heading">{{ page.list_title | default: "Progetti" }}</h2>
      <ul class="project-list">
        {%- for post in site.progetti -%}
        <li>
          <a href="{{ post.url | relative_url }}">

            <h3>

              {{ post.title | escape }}

            </h3>
          </a>
        </li>
        {%- endfor -%}
      </ul>

    </div>
    <div class="esercizi">
      <h2 class="post-list-heading">Esercizi</h2>
      <ul class="exercise-list">
       
        <li>
          <a href="https://github.com/programmazione-web-its/esercizi/tree/main" target="_blank">
            Gestire lo stato e gli eventi      
          </a>
         
        </li>
       
        <li>
          <a href="https://github.com/programmazione-web-its/coffe-supply" target="_blank">
            Coffee supply ☕️  
          </a>
        </li>
       
        <li>
          <a href="https://codesandbox.io/p/sandbox/y8yxjv" target="_blank">
            Props forwarding e gestione degli input
          </a>
        </li>
        <li>
          <a href="https://codesandbox.io/p/sandbox/93vzgq" target="_blank">
           Componenti super riutilizzabili con `classnames`
          </a>
        </li>
        <li>
          <a href="https://codesandbox.io/p/sandbox/2y8dl9" target="_blank">
          useEffect
          </a>
        </li>
        <li>
          <a href="https://codesandbox.io/p/sandbox/unruffled-monad-rpyct6" target="_blank">
          useContext + useEffect
          </a>
        </li>
   
       
      </ul>

    </div>
  </aside>

  {%- endif -%}
</div>